/* General setup */

* { /* The symbol * means everything on the page */
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  line-height: 32px;
  letter-spacing: 1px;
  word-spacing: 0.7px;
}

/* Layout */

section {
  float: left;
  width: 50%;
  
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;

}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
  font-size: 3em;
  text-align: center;
  letter-spacing: 3px;  
}

h2 {
    font-size: 3em;
    letter-spacing: 2px;
}
  
a:link {
  color:blue;

}
ul {
  list-style-type: circle;
}
a:visited {
  color:blue;

}
a:focus, a:hover {
  color:crimson;
  text-decoration: none;
  outline: none;
}